body{
    margin:0;
}
.firstsection{
    background-color:#1B211A ;
    height: 600px;
}
#mypic{
    float:left;
    height: 600px
}
h1{
    color: wheat;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 100px;
}
.secondsection{
    background-color: #628141;
    padding: 110px 110px 10px 110px;
    text-align: justify;
    
}    
.summary{
    color: wheat;
    text-align: center;
}
.thirdsection{
    background-color:#8BAE66;
    padding: 10px 110px 10px 110px;
    
} 

.fourthsection{
    background-color:#EBD5AB;
    padding: 10px 110px 10px 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:80px;
    
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
.buttons{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
